*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
       font-family: "Poppins", sans-serif;
}

body{
      background-color: rgba(238, 231, 238, 0.918);
}

header{
     
      width: 90%;
      margin: 50px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
}
.btn{
      background-color: rgba(48, 48, 236, 0.781);
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 10px;
      
}

.btn:hover{
      background-color: rgba(8, 8, 230, 0.959);
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
}

#highlight-section{
     
      width: 70%;
      margin: 0 auto;
}

#highlight-section >h2 {
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 25px;
      text-shadow: 2px 2px 2px #ec9090;

}

#highlight-section >p {
      color: rgb(124, 122, 122);
      text-align: center;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 25px
      
}

#buy-now-btn{
      display: flex;
      justify-content: center;
}
#cover-image-section{
      width: 70%;
      margin: 50px auto;
}
#cover-image-section img{
      width: 100%;
      display: block;
}
